<?xml version="1.0" encoding="UTF-8"?>
<events>
	<event>
		<name>Iron</name>
		<description>C'est la fête de l'iron</description>
		<is_active>true</is_active>
		<period>monday tuesday Wednesday thursday</period>
		<hourMin>00</hourMin>
		<hourMax>02</hourMax>
		<items>
			<item>
				<object_id>42</object_id>
				<number>2</number>
			</item>
		</items>
	</event>
	<event>
		<name>Food</name>
        <description>Plein de bouffe</description>
		<is_active>true</is_active>
		<period>monday tuesday Wednesday thursday</period>
		<hourMin>02</hourMin>
		<hourMax>05</hourMax>
		<items>
			<item>
				<object_id>296</object_id>
				<number>2</number>s
			</item>
			<item>
				<object_id>295</object_id>
				<number>1</number>
			</item>
		</items>
	</event>

</events>
